<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="csv" value="CSV\"/>
		<add key="txt" value="TXT\"/>
	</appSettings>

	<system.serviceModel>
		<client>
			<endpoint name="Server"
			    address="net.tcp://localhost:4201/Service"
			    binding="netTcpBinding"
			    contract="Server.ICalculations" />
		</client>
	</system.serviceModel>
</configuration>